[Unit]
Description=PSaaS Web Application Update Timer
After=psaas-startup.service

[Timer]
OnUnitActiveSec=20s
OnBootSec=10s

[Install]
WantedBy=timers.target